<%= render 'shared/page_title', title: "About" %>


<div class="well">
  <h2 class="h2prof">Profile picture set up</h2>
  <p>
    To set your profile picture you need to create an account at <%= link_to "Gravatar", "https://gravatar.com/", :target => "_blank" %>, it
    will set your profile picture to multiple websites.
  </p>
</div>
<br>
<div class="well">
    <h2 class="h2prof">About me</h2>
    <p>
      Hello! My name is Edenilson Jonatas dos Passos and I am the developper behind this site! I am a computer scientist student from
      Brazil and I have a strong passion for it. This website was created with Ruby on Rails on the <%= link_to "c9", "https://c9.io/", :target => "_blank" %> IDE. Certainly I have used other tools to help me build this page, such as HTML, CSS, Javascript, database concepts, SQL, heroku to store and run this application on the cloud and amazon web services (AWS S3 - Simple Storage Service) to upload the images.
    </p>
</div>
